version: '3.8'

services:
  oai-gnb:
    image: oaisoftwarealliance/oai-gnb:2024.w44
    container_name: rfsim5g-oai-gnb
    privileged: true
    volumes:
      - ./configs/gnb-rfsim-sa.conf:/opt/oai-gnb/etc/gnb.conf:ro
    command: /opt/oai-gnb/bin/nr-softmodem -O /opt/oai-gnb/etc/gnb.conf --rfsim --sa
    healthcheck:
      test: /bin/bash -c "pgrep nr-softmodem"
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      5g_core_net:
        ipv4_address: 172.30.0.131

networks:
  5g_core_net:
    external: true
    name: 5g-core-net
